NAVER_CLIENT_ID=dFSuOGRiV3x5m6h4Hono
NAVER_CLIENT_SECRET=usBpQKdnPK
VITE_KAKAO_JS_KEY=b60a7a9a2c4819584e4071fa213e8416
VITE_OPENAI_API_KEY=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
VITE_OPENAI_MODEL=gpt-5-mini